apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-ykeyuvpk
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-ykeyuvpk:e4dd6dbe7545df80dc3e3381debdbe12ac4cba9e@sha256:3d32b8f7469fa02a083df65ed0a7d09aefaef8cefb8883ffbc32f449ff402185
        name: container-image  
